<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.verizonwireless.testcases.LoginTest">
            </class>
            <class name="com.verizonwireless.testcases.FeedBackFormTest">
            </class>
        </classes>
    </test>
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.verizonwireless.testcases.LoginTest">
            </class>
            <class name="com.verizonwireless.testcases.FeedBackFormTest">
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->